<% html_title l(:redmine_sympa_mailing_list_page_title, @project.name) -%>
<h2> <%=h @project.name %> mailing list </h2>

<p>
<%=l(:redmine_sympa_mailing_list_page_intro, @project.sympa_mailing_list_address, @project.sympa_mailing_list_address) %>
</p>

<p>
<%=l(:redmine_sympa_mailing_list_page_subscribe, @sympa_address, @sympa_address) %>
</p>

<p>
<%=l(:redmine_sympa_mailing_list_page_unsubscribe, @sympa_address, @sympa_address) %>
</p>

<p>
<%=l(:redmine_sympa_mailing_list_page_subscription_web, @sympa_address, @sympa_address) %>
</p>

<p>
<%=l(:redmine_sympa_mailing_list_page_archive_text, @project.sympa_archive_url, @project.sympa_archive_url) %>
</p>

<p>
<%= textilizable @project.sympa_info %>
</p>
