<% html_title l(:redmine_sympa_mailing_list_page_title, :name => @project.name) -%>
<h2> <%=h @project.name %> mailing list </h2>

<p>
<%=l(:redmine_sympa_mailing_list_page_intro, :address => @project.sympa_mailing_list_address) %>
</p>

<p>
<%=l(:redmine_sympa_mailing_list_page_subscribe, :address => @sympa_address, :list => @project.identifier) %>
</p>

<p>
<%=l(:redmine_sympa_mailing_list_page_unsubscribe, :address => @sympa_address, :list => @project.identifier) %>
</p>

<p>
<%=l(:redmine_sympa_mailing_list_page_subscription_web, :url => @project.sympa_archive_url) %>
</p>

<p>
<%=l(:redmine_sympa_mailing_list_page_archive_text, :url => @project.sympa_archive_url) %>
</p>

<p>
<%= textilizable @project.sympa_info %>
</p>
